@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

:root {
	--primary-blue: hsl(218, 90%, 33%);
	--black: #06080d;
	--white: #fff;
}

html {
	font-size: 10px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-size: 2.6rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: var(--black);
	background-color: var(--white);
}

ul {
	list-style-type: none;
}

header {
	background-color: #083e9e;
	border-radius: 0px 70px 70px 0px;
	display: none;
}

nav {
	border-radius: 0px 34px 34px 0px;
	background-color: #083e9e;
}

.navbar {
	position: fixed;
	bottom: 0;
	top: 0;
}

li {
	padding: 0 4rem;
}

li {
	padding: 2rem 4rem;
}

li > a > img {
	max-width: 2.5rem;
}

.logo__link {
	margin-bottom: 4rem;
}

.logo {
	max-width: 7.8rem;
	position: absolute;
	top: 6%;
	left: 6%;
}

.logout {
	font-size: 2rem;
	padding: 2rem;
	color: white;
	margin: auto;
}

.heading {
	color: var(--primary-blue);
	font-family: 'Poppins';
}

.heading__main {
	font-weight: 700;
}

/* ====================
Result-Card Section
====================== */
.result {
	max-width: 35rem;
	background-color: #083e9e;
	margin: auto;
	border-radius: 30px;
	padding: 3%;
}

.balance .title {
	font-size: 3.6rem;
	line-height: 5.4rem;
	font-weight: 600;
}

.balance .amount {
	font-size: 6.4rem;
	font-weight: 800;
	line-height: 9.6rem;
}

.result .statement {
	font-size: 2.4rem;
	line-height: 3.6rem;
	width: 80%;
}

.result .breakdown {
	width: 85%;
}

.return .title,
.savings .title {
	line-height: 4.5rem;
	font-size: 3rem;
	font-weight: 500;
}

.return .amount,
.savings .amount {
	font-weight: 600;
	font-size: 3rem;
}
